/* Ian Botsford id#8916536*/
body{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(255, 98%, 18%, 0.5);
}

h2{
    color: #fc9;
    font-size: 0.75em;

}

header{
    background-color : hsl(100, 50%, 15%, 0.9);
}

main{
    float: left;
    width: 65vw;
    background-color : hsl(0.5, 50%, 15%, 0.9);
    height: 60vh;
}

Aside{
    float : right;
    width: 25vw;
    background-color : hsl(130, 0%, 30%, 0.7);
    height: 45vh;
}

footer{
    clear: both;
    background-color : hsl(200, 50%, 75%, 0.9);
}

.Structural{
    margin: 10px;
    padding: 15px;
    border: 11px solid black;
}

#para1{
    color : rgb(240, 30, 78)
}

#para2{
    color : rgb(100, 230, 80) 
}

A:hover{
    color: #f02; 
}

footer p{
    font-size : .75em;
}
